body {
}

pre {
    background-color: #1e1e1e; /*#343a40; black;#f2eded; #e5e5e5;#c1c7c9;*/
    border-radius: 7px 7px;
    color: white;
    max-width: 80%;
    overflow-x: auto;
}

.resume {
    padding: 7em 0;
    clear: both;
}

.resumeImg {
    /*max-width: 25%;*/
    max-width: 170px;
    height: auto;
    margin: 1em;
}

.shadow {
    box-shadow: 3px 2px 5px #253259;
}

@media screen and (max-width: 768px) {
    resume {
        padding: 3em 0;
    }
}

/* CONTACT PAGE W/GOOGLE MAPS BACKGROUND */
#googlemaps {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#contactform {
    position: relative;
    z-index: 1; /* The z-index should be higher than Google Maps */
    max-width: 90%;
    margin: 3em;
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.5); /* Set to 0.5 for a slightly transparent Form */
    height: auto;
    color: white;
}

input.form-control {
    margin: 1em;
}

.btn-dark {
    color: #fff;
    background-color: #495057;
    border-color: #495057;
}

    .btn-dark:hover { /*HOVER IS NOT FUNCTIONING*/
        color: #fff;
        background-color: #253259 !important;
        border-color: #253259;
    }


/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

/* Lightbox */

.thumb {
    cursor: pointer;
}

#lightbox-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    padding-top: 65px;
    display: none;
    overflow-x:scroll; /* This allows the lightbox to scroll down instead of the page scrolling behind it when the img drops below the fold */
}

#lightbox-container p {
    color: #fff;
}

#lightbox-container img {
    border: 10px solid gray;
    margin: auto;
}

/* Card CSS */
.link-name {
    text-align: center;
    color: aliceblue;
    text-shadow: 0px 0px 3px #253259;
    font-size: 2.5em;
}
.link-name:hover {
    text-shadow: 0px 0px 3px aliceblue;
    color: #253259;
}

.card {
    box-shadow: 2px 2px 5px #253259;
}

.card-img {
    width: auto;
    margin: 3%;
    box-shadow: 5px 5px 5px #253259;
}

/* Animations */
.slide {
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* Projects Page Sections */
.project {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0;
    max-width: 75rem;
}

@media (min-width: 768px) {
    .project {
        min-height: 100vh;
    }
}

@media (min-width: 992px) {
    .project {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1rem;
        padding-bottom: 0;
    }
}

.project-img {
    border: 1px solid #253259;
}

/* Font Awesome Unicode Switch classes 
.pdf {
    list-style: none;
}

    .pdf i::before {
        content: "\f1c1";
    }

    .pdf:hover i::before {
        content: "\f1c1";
    }*/

.pdf {
    color: #495057;
}
    .pdf:hover {
        color: #253259;
    }

/* Font CSS for Examples*/
.blue {
    color: #007acc; /*#FF0E70C0; #4e56ed; blue;*/
}

.ltBlue {
    color: lightskyblue;/*#FFC9DEF5; #21d8de; deepskyblue; #00a4db;*/
}

.yellow {
    color:  #EEDC83; /*#fdd017; #FFE5C365;*/ 
}

.vsGreen {
    color: #3DB489;
}

.vsOrange {
    color: #F9A603;
}

.vsPurple {
    color: #f8dafe;
}

/* Bootstrap Accordian for Example page */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: grey; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}