@{
    ViewBag.Title = "Contact";
}
<div class="container-fluid p-4">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Let's
                <span class="text-primary">Talk!</span>
            </h1>
            <div class="subheading mb-5">
                4849 NW Rochester Rd · Topeka, KS 66617 · (210) 918-0491 ·
                <a href="mailto:s.l.toney@outlook.com">s.l.toney@outlook.com</a>
            </div>
            <p class="lead mb-5">Do you have some development work that needs to be done? I'd love to hear from you! Click my above email address to send an email or fill out the form below.</p>
            <div class="social-icons">
                <a class="social-icon" href="http://www.linkedin.com/in/s-tessa-toney" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/S-Toney" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://twitter.com/STessaToney1" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://stackoverflow.com/users/14554997/tessa" target="_blank"><i class="fab fa-stack-overflow"></i></a>
            </div>
        </div>
    </section>
    @*<hr class="mb-2" />*@
    <!-- CONTACT FORM W/GOOGLE MAPS BACKGROUND -->
    <!--<section>
        <div id="maps"></div>
        <form id="contactform">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control col-form-label my-2" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control my-2" placeholder="Last name">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control my-2" placeholder="Company (optional)">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control my-2" placeholder="Your Position (optional)">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control my-2" placeholder="Your email address">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <textarea type="text" class="form-control my-2" placeholder="Your Message"></textarea>
                </div>
            </div>
            <div class="form-row">
                <input type="submit" name="submit button" value="Submit" class="btn btn-dark button mx-4 my-2" />
            </div>
        </form>
    </section>-->
</div>