
@{
    ViewBag.Title = "Code Examples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Code Examples</h2>
<div>
    <h3>Delete a user:</h3>
    <div class="border-dark p-3">
        ASP.NET Webforms, Telerik UI Ajax, linked to a T-SQL stored procedure.<br />

        @* @(new HtmlString(ViewData["delUserHtml"].ToString()))
        replacing < with &lt; or &60; and > with &gt;&gt; or &62;  *@
        <h4>HTML</h4>
        &lt;div&gt;<br />
        &lt;telerik:RadTextBox runat="server" ID="boxDelUser" Label="Delete User" Skin="Web20"&gt;&lt;/telerik:RadTextBox&gt;<br />
        &lt;telerik:RadButton runat="server" ID="btnDelUser" Text="Delete" OnClick="btnDelUser_Click" Skin="Web20"&gt;&lt;/telerik:RadButton&gt;<br />
        &lt;telerik:RadLabel runat="server" ID="lblDelUser" Skin="Web20"&gt;&lt;/telerik:RadTextBox&gt;<br />
        &lt;/div&gt;
        <h4>C#</h4>
        protected boid btnDelUser_Click(object sender, EventArgs e)<br />
        {<br />
        string user = boxDelUser.Text;<br />
        {<br />
        try<br />
        {<br />
        {<br />
        {<br />
        Membership.DeleteUser(user);<br />
        {<br />
        }<br />
        {<br />
        catch (Exception ex)<br />
        {<br />
        {<br />
        {<br />
        lblDelUser.Text = $"An error occured when trying to delete this user: {ex}";<br />
        {<br />
        }<br />
        {<br />
        lblDelUser.Text = $"{user} has been deleted";<br />
        {<br />
        }<br />
        {<br />
    </div>
</div>

