@{
    ViewBag.Title = "S. Tessa Toney";
}
<!-- Page Content -->
<main class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                S. Tessa
                <span class="text-primary">Toney</span>
            </h1>
            <div class="subheading mb-5">
                @*4849 NW Rochester Rd · Topeka, KS 66617 ·*@ (210) 918-0491 ·
                <a href="mailto:s.l.toney@outlook.com">s.l.toney@outlook.com</a>
            </div>
            <!--<p class="lead mb-5">I am experienced with buiding responsive web pages that can be consumed as easily on a mobile devices as on traditional PCs. Teamwork is key to success and I have worked with teams, both local and international. Coordination and orginization are strong points of mine that allows me to assist in keeping out team focused and on track.</p>-->
            <div class="social-icons slide">
                <a class="social-icon" href="http://www.linkedin.com/in/s-tessa-toney" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/S-Toney" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://twitter.com/STessaToney1" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://stackoverflow.com/users/14554997/tessa" target="_blank"><i class="fab fa-stack-overflow"></i></a>
            </div>
        </div>

    </section>
    <hr class="m-0" />
    <!-- Introduction -->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Welcome! I'm Tessa.</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <p class="col-sm-12">
                        I have worked for large organizations (fortune 500 companies, the federal gov., etc.) and mom & pop shops. In these positions gravitated toward three things: leadership, training, and technology. After being required to learn a new technology and immediately teach it to and troubleshoot it for my team at the Census Bureau, it was clear to me that technology should be my path forward. I still remember the thrill of dialing into a BBS before the internet was the internet and I feel that same thrill when I am researching Linux command lines or finally solving that pesky looping problem.
                        <br /><br />
                        A keen interest in language made the transition from studying spoken language to coded language a logical one. The combination of being highly organized and strong in written language allows me to excel in documentation. While fully capable of working independently, I value communication. Good communication is essential to meeting goals. I take the time to continue learning and growing both personally and professionally in order to satisfy the high expectations I have for myself.
                    </p>
                    @using (Html.BeginForm("TestErrorWriteToDB_Click", "Home", FormMethod.Post))
                    {
                        <button type="submit">Testing Error Writing</button>
                    }
                    </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Kind Words from Customers & CoWorkers -->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Kind Words from Co-Workers & Customers</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <div class="col-sm-6">
                        <img src="~/Content/img/censusEndorsement.jpg" class="img-fluid thumb shadow m-2" />
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/img/thankYouNote.jpg" class="img-fluid thumb shadow m-2" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<hr class="m-0" />
    <!-- Interests -->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from development, I enjoy cooking and baking. In the winter, I can't go a day without heating that oven. Summertime encourages use of the grill.</p>
            <p class="mb-0"><!--When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.--></p>
        </div>
    </section>*@
</main>