
@{
    ViewBag.Title = "Fellow Developers";
}

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Fellow
                <span class="text-primary">Developers</span>
            </h1>
            <div class="subheading mb-5">
                <!--4849 NW Rochester Rd · Topeka, KS 66617 · (210) 918-0491 ·-->
                <a href="mailto:s.l.toney@outlook.com">s.l.toney@outlook.com</a>
            </div>
            <p class="lead mb-5">Collaboration is an indispensable part of development. Please allow me to introduce you to some of my teammates:</p>
            <div class="social-icons">
                <a class="social-icon" href="http://www.linkedin.com/in/s-tessa-toney" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/S-Toney" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://twitter.com/STessaToney1" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://stackoverflow.com/users/14554997/tessa" target="_blank"><i class="fab fa-stack-overflow"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Links to classmates -->
    <div class="m-3 p-3">
        <div class="card-deck">
            <div class="card">
                <img class="card-img" src="~/Content/img/jds.png" alt="Card image">
                <div class="card-img-overlay">
                    <a href="http://www.johndavidswift.com" class="card-title subheading">John Swift</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="~/Content/img/spenser.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <a href="http://www.spencerpearson.net" class="card-title subheading">Spencer Pearson</a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-3 p-3">
        <div class="card-deck">
            <div class="card">
                <img class="card-img" src="~/Content/img/david.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <a href="http://davidsee.net" class="card-title subheading">David See</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="~/Content/img/sayCheese.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <a href="http://mbelldevelops.com/" class="card-title subheading">Michael Bell</a>
                </div>
            </div>
            <!--<div class="card">
            <img class="card-img" src="img/sayCheese.jpg" alt="Card image">
            <div class="card-img-overlay">
                <a href="#" class="card-title subheading">James Henderson</a>
            </div>-->
        </div>
    </div>
    <!--<div class="col-md-6 col-sm-12 my-3 text-center">
        <a href="http://www.johndavidswift.com" target="_blank" class="subheading links text-center mt-1 mb-2"><img src="img/sayCheese.jpg" class="img-fluid" />John Swift</a>
    </div>-->
    <!--<div class="col-md-6 col-sm-12 my-3 text-center">
        <a href="http://www.spencerpearson.net" target="_blank" class="subheading links"><img src="img/sayCheese.jpg" class="img-fluid" />Spencer Pearson</a>
    </div>
    <div class="col-md-6 col-sm-12 my-3 text-center">
        <a href="http://mbelldevelops.com/" target="_blank" class="subheading links text-center"><img src="img/sayCheese.jpg" class="img-fluid" />Michael Bell</a><br />
    </div>
    <div class="col-md-6 col-sm-12 my-3 text-center">
        <a href="http://davidsee.net" target="_blank" class="subheading links"><img src="img/sayCheese.jpg" class="img-fluid" />David See</a>
    </div>
    <div class="col-md-6 col-sm-12 my-3 text-center">
        <a href="#" target="_blank" class="subheading links"><img src="img/sayCheese.jpg" class="img-fluid" />James Henderson</a>
    </div>-->

</div>


