
@{
    ViewBag.Title = "Fellow Developers";
}

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Fellow
                <span class="text-primary">Developers</span>
            </h1>
            <div class="subheading mb-5">
                4849 NW Rochester Rd · Topeka, KS 66617 · (210) 918-0491 ·
                <a href="mailto:s.l.toney@outlook.com">s.l.toney@outlook.com</a>
            </div>
            <p class="lead mb-5">Collaboration is an indispensable part of development. Please allow me to introduce you to some of my teammates:</p>
            <div class="social-icons slide">
                <a class="social-icon" href="http://www.linkedin.com/in/s-tessa-toney" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/S-Toney" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://twitter.com/STessaToney1" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://stackoverflow.com/users/14554997/tessa" target="_blank"><i class="fab fa-stack-overflow"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Links to classmates -->
    <div class="m-3 p-3">
        <div class="row"@*card-deck text-center*@>
            <div class="col-md-4 col-sm-6 col-xs-12"@*card*@>
                <a href="http://www.johndavidswift.com" class="card-title subheading link-name" target="_blank">
                    <img class="card-img img-fluid" src="~/Content/img/john.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        John Swift
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12"@*card*@>
                <a href="http://www.spencerpearson.net" class="card-title subheading link-name" target="_blank">
                    <img class="card-img img-fluid" src="~/Content/img/spenserPearson.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        Spencer Pearson
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12"@*card*@>
                <a href="http://davidsee.net" class="card-title subheading link-name" target="_blank">
                    <img class="card-img img-fluid" src="~/Content/img/davidSee.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        David See
                    </div>
                </a>
            </div>
       @*</div>
    </div>
    <div class="m-3 p-3">
        <div class="card-deck">*@
            
            <div class="col-md-4 col-sm-6 col-xs-12"@*card*@>
                <a href="http://mbelldevelops.com/" class="card-title subheading link-name" target="_blank">
                    <img class="card-img img-fluid" src="~/Content/img/michaelBell.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        Michael Bell
                    </div>
                </a>
            </div>
            <br />
            <div class="col-md-4 col-sm-6 col-xs-12"@*card*@>
                <a href="https://www.linkedin.com/in/isaacbeck/" class="card-title subheading link-name" target="_blank">
                    <img class="card-img img-fluid" src="~/Content/img/isaac.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        Isaac Beck
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


