
@{
    ViewBag.Title = "My Projects";
}

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                My
                <span class="text-primary">Projects</span>
            </h1>
            <div class="subheading mb-5">
                4849 NW Rochester Rd · Topeka, KS 66617 · (210) 918-0491
                <a href="mailto:s.l.toney@outlook.com">s.l.toney@outlook.com</a>
            </div>
            <p class="lead mb-5">Scroll down to see example projects I've developed utilizing different technologies.</p>
            <div class="social-icons slide">
                <a class="social-icon" href="http://www.linkedin.com/in/s-tessa-toney" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/S-Toney" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://twitter.com/STessaToney1" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://stackoverflow.com/users/14554997/tessa" target="_blank"><i class="fab fa-stack-overflow"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <section class=" resume-section">
        <figure class="col-md-5 p-2 ml-3">
            <a href="http://fed1studio.tessatoney.com"><img src="~/Content/img/fed1.png" class="img-fluid" /></a>
            <figcaption class="h2 text-center">Fed 1 Studio Project</figcaption>
            <p>This project was built to specifications provided. I used only CSS and HTML in order to challenge myself and imporve my CSS skills.</p>
        </figure>
        <figure class="col-md-5 p-2 ml-3">
            <a href="http://recipetemplate.tessatoney.com"><img src="~/Content/img/recipe.png" class="img-fluid" /></a>
            <figcaption class="h2 text-center">Recipe Template</figcaption>
            <p>This is a recipe template is being developed to use on the MyChefGuru site which is currently under construction. There is an existing framework and code library this site has to be compatabitable with so I'm coding with Bootstrap 4 code and not too many extras.</p>
        </figure>
    </section>
    <section class=" resume-section">
        <figure class="col-md-5 p-2 ml-3">
            <a href="http://yestojess.tessatoney.com/"><img src="~/Content/img/yestojess.png" class="img-fluid" /></a>
            <figcaption class="h2 text-center">Yes To Jess</figcaption>
            <p>Yes To Jess is the first independent project I developed. Yes to Jess is a site for a model working out of San Antonio. She wanted a basic online portfolio. The site was originally built in Bootstrap 3 and was very basic. Here you will see Yes To Jess rebuilt in Bootstrap 4 using a more siphositcated design. The orginal code can still be seen at yestojess.com</p>
        </figure>
    </section>

</div>

