
@{
    ViewBag.Title = "My Projects";
}

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                My
                <span class="text-primary">Projects</span>
            </h1>
            <div class="subheading mb-5">
                @*4849 NW Rochester Rd · Topeka, KS 66617 ·*@ (210) 918-0491 ·
                <a href="mailto:s.l.toney@outlook.com">s.l.toney@outlook.com</a>
            </div>
            <p class="lead mb-5">Scroll down to see example projects I've developed utilizing different technologies.</p>
            <div class="social-icons slide">
                <a class="social-icon" href="http://www.linkedin.com/in/s-tessa-toney" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/S-Toney" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://twitter.com/STessaToney1" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://stackoverflow.com/users/14554997/tessa" target="_blank"><i class="fab fa-stack-overflow"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <div class="ml-5">
        <div class="row project">
            <section class="col-md-10">
                <!-- Food Truck Events -->
                <figure @*class="col-md-9 p-2 ml-3"*@>
                    <a href="http://foodtruckevents.tessatoney.com//" target="_blank"><img src="~/Content/img/fte.png" class="img-fluid shadow project-img" /></a>
                    <figcaption class="h2 mt-2 mb-4 text-center">Food Truck Events</figcaption>
                    <p>Food Truck Events is a secure two-tier data driven Reservation site built in ASP.Net MVC. This site is cross-browser compatible and fully responsive with a fanstasic mobile experience available for busy vendors. FTE represents a company that owns multiple locations nationwide ranging from fields to convention centers. These locations host multiple events which can be created by administrators and employees of FTE. Vendors with food trucks can register with FTE, add reserve spacefor their trucks at upcoming events until the limit for that location is reached. Admins can override the limit if necessary. Each role has differing levels of access with a super user built in that has complete access.</p>
                </figure>
            </section>
        </div>
        <div class="row project">
            <section class="col-md-10">
                <!-- Writer's Supply -->
                <figure @*class="col-md-9 p-2 ml-3"*@>
                    <a href="http://writerssupply.tessatoney.com/" target="_blank"><img src="~/Content/img/storefront.png" class="img-fluid shadow project-img" /></a>
                    <figcaption class="h2 mt-2 mb-4 text-center">Writer's Supply</figcaption>
                    <p>Writer's Supply is a two tier application using a database that allows for internal and external views. This store front site allows admins to </p>
                </figure>
            </section>
        </div>
        <div class="row project">
            <section class="col-md-5">
                <!-- Fed 1 -->
                <figure @*class="col-md-5 p-2 ml-3"*@>
                    <a href="http://fed1studio.tessatoney.com" target="_blank"><img src="~/Content/img/fed1.png" class="img-fluid shadow project-img" /></a>
                    <figcaption class="h2 mt-2 mb-4 text-center">Fed 1 Studio Project</figcaption>
                    <p>This project was built to specifications provided. I used only CSS and HTML in order to challenge myself and imporve my CSS skills.</p>
                </figure>
            </section>
            <section class="col-md-5">
                <!-- Recipe Template -->
                <figure @*class="col-md-5 p-2 ml-3"*@>
                    <a href="http://recipetemplate.tessatoney.com" target="_blank"><img src="~/Content/img/recipe.png" class="img-fluid shadow project-img" /></a>
                    <figcaption class="h2 mt-2 mb-4 text-center">Recipe Template</figcaption>
                    <p>This is a recipe template is being developed to use on the MyChefGuru site which is currently under construction. There is an existing framework and code library this site has to be compatabitable with so I'm coding with Bootstrap 4 code and not too many extras.</p>
                </figure>
            </section>
        </div>
        <div class="row project">
            <section class="col-md-10">
                <!-- Yes To Jess -->
                <div class="row">
                    <figure @*class="col-md-9 p-2 ml-3"*@>
                        <a href="http://yestojess.tessatoney.com/" target="_blank"><img src="~/Content/img/yestojessb4.png" class="img-fluid shadow project-img" /></a>
                        <figcaption class="h2 mt-2 mb-4 text-center">Yes To Jess</figcaption>
                        <p>Yes To Jess is the first independent project I developed. Yes to Jess is a site for a model working out of San Antonio. She wanted a basic online portfolio. The site was originally built in Bootstrap 3 and has since been upgraded to Bootstrap 4. <!--using a more siphositcated design. The orginal code can still be seen at yestojess.com--></p>
                    </figure>
                </div>
            </section>
        </div>

        @*<div class="row project">
                    <section class="col-md-5">
                        <figure>
                            <a href="https://github.com/S-Toney/TheVerse"><img src="~/Content/img/serenity.jpg" class="img-fluid shadow project-img" /></a>
                            <figcaption class="h2 mt-2 mb-4 text-center">The `Verse</figcaption>
                            <p>The Verse is a console game coded in C# that visits Joss Whedon's Firefly `Verse. The game allows the user to choose the character that will take them on a tour of shenanagans and hopefully keep them flying.</p>
                        </figure>
                    </section>
                </div>
            </div>*@
        <!-- Projects -->
        @*<section class="project">
                    <div class="row">
                        <!-- Writer's Supply -->
                        <figure class="col-md-9 p-2 ml-3">
                            <a href="http://writerssupply.tessatoney.com/"><img src="~/Content/img/storefront.png" class="img-fluid shadow" /></a>
                            <figcaption class="h2 text-center">Writer's Supply</figcaption>
                            <p>Writer's Supply is a two tier application using a database that allows for internal and external views. </p>
                        </figure>
                    </div>
                @*</section>
                <section class="project">
            <div class="row">
                <!-- Fed 1 -->
                <figure class="col-md-5 p-2 ml-3">
                    <a href="http://fed1studio.tessatoney.com"><img src="~/Content/img/fed1.png" class="img-fluid shadow" /></a>
                    <figcaption class="h2 text-center">Fed 1 Studio Project</figcaption>
                    <p>This project was built to specifications provided. I used only CSS and HTML in order to challenge myself and imporve my CSS skills.</p>
                </figure>
                <!-- Recipe Template -->
                <figure class="col-md-5 p-2 ml-3">
                    <a href="http://recipetemplate.tessatoney.com"><img src="~/Content/img/recipe.png" class="img-fluid shadow" /></a>
                    <figcaption class="h2 text-center">Recipe Template</figcaption>
                    <p>This is a recipe template is being developed to use on the MyChefGuru site which is currently under construction. There is an existing framework and code library this site has to be compatabitable with so I'm coding with Bootstrap 4 code and not too many extras.</p>
                </figure>
            </div>
            </section>
                <section class="project">
            <!-- Yes To Jess -->
            <div class="row">
                <figure class="col-md-9 p-2 ml-3">
                    <a href="http://yestojess.tessatoney.com/"><img src="~/Content/img/yestojess.png" class="img-fluid shadow" /></a>
                    <figcaption class="h2 text-center">Yes To Jess</figcaption>
                    <p>Yes To Jess is the first independent project I developed. Yes to Jess is a site for a model working out of San Antonio. She wanted a basic online portfolio. The site was originally built in Bootstrap 3 and was very basic. Here you will see Yes To Jess rebuilt in Bootstrap 4 using a more siphositcated design. The orginal code can still be seen at yestojess.com</p>
                </figure>
            </div>
            </section>*@

    </div>

</div>