@{
    ViewBag.Title = "S. Tessa Toney";
}
<!-- Page Content-->
<!--<div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>My Resume</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>Work Experience</h3></div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Senior Developer</h3>
                                <span class="company">Company Name - 2016 - Current</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Junior Developer</h3>
                                <span class="company">Company Name - 2013 - 2015</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">UI/UX Designer</h3>
                                <span class="company">Company Name - 2010 - 2012</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </li>
                    <br />
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>Education</h3></div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Masters Degree</h3>
                                <span class="company">University Name - 2007 - 2009</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Bachelors Degree</h3>
                                <span class="company">University Name - 2002 - 2006</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Diploma Course</h3>
                                <span class="company">College Name - 1999 - 2001</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Graduation</h3>
                                <span class="company">College Name - 1994 - 1998</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>-->


<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                S. Tessa
                <span class="text-primary">Toney</span>
            </h1>
            <div class="subheading mb-5">
                @*4849 NW Rochester Rd · Topeka, KS 66617 ·*@ (210) 918-0491 ·
                <a href="mailto:s.l.toney@outlook.com">s.l.toney@outlook.com</a>
            </div>
            <p class="lead mb-5">The majority of my development experience has focused on the front end but I have reently been training at Centriq in order to expand to back end more effectively.</p>
            <div class="social-icons slide">
                <a class="social-icon" href="http://www.linkedin.com/in/s-tessa-toney" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/S-Toney" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="https://twitter.com/STessaToney1" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://stackoverflow.com/users/14554997/tessa" target="_blank"><i class="fab fa-stack-overflow"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience -->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5 hide-on-mb">Experience<a href="~/Content/TessaToneyResumeIT.pdf" target="_blank" class="mx-5 pdf"><i class="fas fa-file-pdf"></i></a></h2>
            <!-- LRS -->
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Full-Stack .NET Developer</h3>
                    <div class="subheading mb-3">LRS Consulting</div>
                    <p>I focus on websight/database maintenance, design, and development for multiple projects. This includes legacy code as well as newly requested applications with internal and public functions. I collect/define requirements, develop code, and test it to ensure end user satisfaction using testing and production environments.
                    <br /><br /><i class="fad fa-arrow-alt-right"></i>
                    Because my time is split between two state agencies, I use multiple types of source code control and have up to 6 environments (DEV <i class="fas fa-arrow-right"></i> UAT <i class="fas fa-arrow-right"></i> PROD x2) at any given time. Currently I am maintaining/developing 20+ projects.</p>      
                    <p>
                        <ul>
                            <li>Asp.NET Webforms</li>
                            <li>Telerik UI Ajax</li>
                            <li>C#</li>
                            <li>ADO.NET</li>
                            <li>T-SQL</li>
                            <li>SSMS</li>
                            <li>Stored Procedures</li>
                            <li>TFS/DevOps</li>
                            <li>GitHub</li>
                            <li>Visual Studio</li>
                            <li>NotePad++</li>
                        </ul>
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">April 2021 - Present</span></div>
            </div>
            <!-- Guru Solutions -->
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Front End Developer</h3>
                    <div class="subheading mb-3"><a href="https://www.guru-solutions.net/">GURU Solutions LLC</a></div>
                    <p>I focused on websight design/development with Mobile Responsive Concept including internal and public functions. This included collecting and defining requirements and testing software to ensure end user satisfaction.</p>
                    <p>
                        <ul>
                            <li>Asp.NET</li>
                            <li>MVC</li>
                            <li>Bootstrap</li>
                            <li>SSMS</li>
                            <li>T-SQL</li>
                            <li>C#</li>
                            <li>Visual Studio</li>
                            <li>GitHub</li>
                        </ul>
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">April 2018 - April 2021</span></div>
            </div>
            <!-- US Census -->
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Census Field Supervisor</h3>
                    <div class="subheading mb-3">US Census Bureau</div>
                    <p>
                        Relably learning new softwares and technologies and teaching them to new employees during onboarding as well as followup in the field to ensure productivity, effeciency, and provide any extra training that may be necessary. This position required strict confidentiality.                      
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2020 - October 2020</span></div>
            </div>
            <!-- Appen -->
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Content & Search Evaluator</h3>
                    <div class="subheading mb-3">Appen</div>
                    <p>This remote position required adherence to strict guidelines and absolute disgression.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July 2010 - December 2011</span></div>
            </div>
            <!--<div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Design Intern</h3>
                    <div class="subheading mb-3">Shout! Media Productions</div>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2008 - June 2010</span></div>
            </div>-->
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <!-- Centriq -->
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Centriq Training</h3>
                    <div class="subheading mb-3">Career Training</div>
                    <div>Full Stack Software Development</div>
                    <!-- badgr badges from Centriq -->
                    <a href="https://api.badgr.io/public/assertions/OJMSI6KWToW1apzrNmIWDQ?identity__email=stacy.toney%40protonmail.com"><img @*width="170px" height="170px"*@ class="resumeImg" src="https://api.badgr.io/public/assertions/OJMSI6KWToW1apzrNmIWDQ/image"></a>
                    <a href="https://api.badgr.io/public/assertions/GNfUJlb9TXeSy4XLLm2xOQ?identity__email=stacy.toney%40protonmail.com"><img @*width="170px" height="170px"*@ class="resumeImg" src="https://api.badgr.io/public/assertions/GNfUJlb9TXeSy4XLLm2xOQ/image"></a>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">October 2020 - February 2021</span></div>
            </div>
            <!-- UIW -->
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of the Incarnate Word</h3>
                    <div class="subheading mb-3">Bachelor's of Science</div>
                    <div>Health Science/Administration</div>
                    <img src="~/Content/img/cum-laude-medal-front.jpg" @*class="img-fluid w-25 h-auto m-2"*@ class="resumeImg" />
                    <img src="~/Content/img/NSCS_Logo_Smaller.png" @*class="img-fluid w-25 h-auto m-2"*@ class="resumeImg" />
                    <img src="~/Content/img/nsls-logo.png" @*class="img-fluid m-2"*@ class="resumeImg" />
                </div>
                <div class="flex-shrink-0"><span class="text-primary">December 2013 - December 2016</span></div>
            </div>
            <!-- SAC -->
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">San Antonio College</h3>
                    <div class="subheading mb-3">Associates of Arts</div>
                    <div>English</div>
                    <img src="~/Content/img/sac.png" @*class="img-fluid w-25 h-auto rounded-circle"*@ class="resumeImg" />
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2010 - April 2013</span></div>
            </div>
            <!--<div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">James Buchanan High School</h3>
                    <div class="subheading mb-3">Technology Magnet Program</div>
                    <p>GPA: 3.56</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2002 - May 2006</span></div>
            </div>-->
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <!-- Technical Skills -->
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons slide">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                <li class="list-inline-item"><i class="fab fa-react"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                <li class="list-inline-item"><i class="fab fa-less"></i></li>
                <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                <li class="list-inline-item"><i class="fab fa-linux"></i></li>
                <li class="list-inline-item"><i class="fab fa-trello"></i></li>
                <!--<li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>-->
            </ul>
            <!-- Workflow -->
            <div class="subheading my-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Troubleshooting & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile Development & Scrum
                </li>
            </ul>
            <!-- SoftSkills -->
            <div class="subheading my-3">Soft Skills</div>
            <ul>
                <li>
                    <span class="fa-li"><i class="fab fa-fly"></i></span>
                    Dedicated Lifetime Learner
                </li>
                <li>
                    <span class="fa-li"><i class="fab fa-fly"></i></span>
                    Organized Problem Solver
                </li>
                <li>
                    <span class="fa-li"><i class="fab fa-fly"></i></span>
                    Champion Communicator
                </li>
                <li>
                    <span class="fa-li"><i class="fab fa-fly"></i></span>
                    Team and Goal Oriented
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
</div>
