
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thumbnail</title>
</head>
<body>
    <div>
        <img src="~/Content/img/projectPersonalSite.png" />
    </div>
</body>
</html>
