@*@model PersonalSiteMVC.Models.ContactViewModel*@
@{
    ViewBag.Title = "Undeliverable";
}
<div class="container-fluid p-4">
    <h2>@ViewBag.Title</h2>

    @*<h3>Thank you @Model.firstName!</h3>*@
    <p class="lead">
        <i class="fas fa-envelope"></i> Uh oh, there's no mail pickup today!
        <br /><br />
        Click <a href="mailto:s.l.toney@outlook.com">here</a> to send an email.
    </p>

</div>