@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Zip Code<input />
        City<textbox id="City"></textbox>
        State<textbox id="State"></textbox>
    </div>
</body>
</html>
