@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <label id="lblZip" class="mr-2">Zip Code</label><input id="Zip" class="ml-2" /><br />
        <label id="lblCity" class="mr-2">City</label><textbox id="City" class="ml-2"></textbox><br />
        <label id="lblState" class="mr-2">State</label><textbox id="State" class="ml-2"></textbox>
    </div>
</body>
</html>
